In [191]:
DB_TESTE_HOST = "PGKPTL01"
DB_TESTE_NAME = "db_Teste"
DB_TESTE_USER = "kapitalo11"
DB_TESTE_PASS = "kapitalo11"

import pandas as pd
import psycopg2
import workdays
import matplotlib.pyplot as plt
import plotly.offline as pyo
import plotly.graph_objs as go
# Set notebook mode to work in o
import numpy as np
import pandas as pd
import plotly.graph_objs as go
import psycopg2
import pymongo
from scipy.interpolate import interp1d
import datetime
from matplotlib import pyplot as plt
from IPython.display import Markdown as md
import plotly.express as px
import plotly.graph_objects as go
pd.options.mode.chained_assignment = None  # default='warn'

from matplotlib.ticker import FuncFormatter

import plotly.graph_objects as go




def millions(x, pos):
    """The two args are the value and tick position."""
    #     return 'R${:1.1f}M'.format(x*1e-6)
    return "R${:1.1f}M".format(x * 1e-6)


def mils(x, pos):
    """The two args are the value and tick position."""
    #     return 'R${:1.1f}M'.format(x*1e-6)
    return "R${:1.1f}k".format(x * 1e-3)


formatter = FuncFormatter(millions)
formatter_mils = FuncFormatter(mils)


conn_mongo = pymongo.MongoClient(
    'mongodb://kapitalo11:kapitalo11@192.168.254.20:27017/?authSource=k11')
coll = conn_mongo['k11']['bbgrt']
dt=datetime.date.today()
holidays_b3 = workdays.load_holidays("B3")
holidays_br = workdays.load_holidays("BR")
dt_1=workdays.workday(dt,-1,holidays_b3)
dt_2=workdays.workday(dt,-2,holidays_b3)
dt_21=workdays.workday(dt,-21,holidays_b3)
db_conn_test = psycopg2.connect(
            host=DB_TESTE_HOST,
            dbname=DB_TESTE_NAME,
            user=DB_TESTE_USER,
            password=DB_TESTE_PASS,
        )

In [205]:
## Termos antecipados
query_ant="select * from tbl_boletasrf where str_mesa='Kapitalo 11.1'  and str_fundo='KAPITALO KAPPA MASTER FIM' and str_mercado='Termo de Acao'  and  dbl_quantidade<0"

query_bol="select * from tbl_boletasrf where str_mesa='Kapitalo 11.1'  and str_fundo='KAPITALO KAPPA MASTER FIM' and str_mercado='Termo de Acao'   and dbl_quantidade>0 and dte_vencimento<'2022-05-03' and dte_dataref>'2020-10-01'"

In [206]:
df_bol=pd.read_sql(query_bol,db_conn_test)
series=list()
series=df_bol['str_serie'].unique()
brokers=df_bol['str_corretora'].unique()

df_bol['preco termo']=df_bol['str_serie'].apply(lambda x: float(x.split('-')[3].replace(',','.')))

df_bol['volume negociado']=df_bol['dbl_quantidade']*df_bol['preco termo']

df_bol['prazo init']=df_bol.apply(lambda row: workdays.networkdays(row['dte_dataref'],row['dte_vencimento'],holidays_br),axis=1)


df_bol=df_bol.groupby(['str_corretora','str_serie','dte_dataref','dte_vencimento','dte_data']).sum().reset_index()

# for x in brokers:
#     display(df_bol[df_bol['str_corretora']==x].groupby(['str_corretora','prazo init']).sum()[['volume negociado']])
df_bol

,str_corretora,str_serie,dte_dataref,dte_vencimento,dte_data,dbl_quantidade,dbl_taxa,dbl_preco,int,preco termo,volume negociado,prazo init
0,Agora,"01022021-01032021-25,672841-25,729515",2021-02-01,2021-03-01,2021-01-28,5000.0,0.310000,25.672841,402434,25.729515,1.286476e+05,18
1,Agora,"01022021-24022021-23,484894-23,525006",2021-02-01,2021-02-24,2021-01-28,1000.0,0.260000,23.484894,402437,23.525006,2.352501e+04,15
2,Agora,"01022021-29032021-5,444844-5,468832",2021-02-01,2021-03-29,2021-01-28,2000.0,0.530000,5.444844,402436,5.468832,1.093766e+04,38
3,Agora,"01022021-29032021-5,454853-5,478885",2021-02-01,2021-03-29,2021-01-28,2000.0,0.530000,5.454853,402435,5.478885,1.095777e+04,38
4,Agora,"01022022-02032022-15,958181-16,040804",2022-02-01,2022-03-02,2022-01-28,5000.0,1.140000,15.958181,3763305,16.040804,8.020402e+04,19
...,...,...,...,...,...,...,...,...,...,...,...,...
22803,XP,"31082021-26102021-23,394661-23,605920",2021-08-31,2021-10-26,2021-08-27,600.0,0.060983,23.394661,2025018,23.605920,1.416355e+04,38
22804,XP,"31082021-26102021-29,785559-30,054960",2021-08-31,2021-10-26,2021-08-27,3000.0,0.061074,29.785559,2025015,30.054960,9.016488e+04,38
22805,XP,"31082021-27122021-13,868071-14,161560",2021-08-31,2021-12-27,2021-08-27,300000.0,0.066500,13.868071,2025021,14.161560,4.248468e+06,80
22806,XP,"31082021-27122021-13,878122-14,171822",2021-08-31,2021-12-27,2021-08-27,100000.0,0.066500,13.878122,2025023,14.171822,1.417182e+06,80
22807,XP,"31082021-27122021-29,093371-29,861925",2021-08-31,2021-12-27,2021-08-27,900.0,0.082773,29.093371,2025022,29.861925,2.687573e+04,80

In [194]:
df_ant=pd.read_sql(query_ant,db_conn_test)

df_ant['preco termo']=df_ant['str_serie'].apply(lambda x: float(x.split('-')[3].replace(',','.')))
# df_ant['prazo init']=df_ant.apply(lambda row: workdays.networkdays(row['dte_dataref'],row['dte_vencimento'],holidays_br),axis=1)

df_ant['volume_ant']=df_ant['dbl_quantidade']*df_ant['preco termo']

df_ant=df_ant[df_ant['str_serie'].isin(series)]
df_ant['prazo cumprido']=df_ant.apply(lambda row: workdays.networkdays(row['dte_data'],row['dte_vencimento'],holidays_br),axis=1)
df_ant=df_ant.groupby(['str_corretora','str_serie','dte_dataref','dte_vencimento','dte_data']).sum().reset_index()
df_ant['dte_data_ant']=df_ant['dte_data']

In [202]:
df  = df_bol.merge(df_ant,on=['str_corretora','str_serie'],how='left').fillna(0)


# df['prazo init']=df.apply(lambda row: workdays.networkdays(row['dte_dataref'],row['dte_vencimento'],holidays_br),axis=1)

# df=df.groupby(['str_corretora','prazo init','prazo cumprido']).sum().reset_index()[['str_corretora','prazo init','prazo cumprido','volume negociado','volume_ant']]


df['% prazo cumprido']=100*df['prazo cumprido']/df['prazo init']
df['% prazo cumprido']= df.apply(lambda row: 100 if row['dte_data_ant']==0 else row['% prazo cumprido'],axis=1 )
# display(df[df['str_corretora']=='Mirae'])
# test=df[df['str_corretora']=='Mirae']
prazo=df
prazo=prazo.groupby('str_corretora').agg({'% prazo cumprido':np.mean})
prazo
# geral=df.groupby('str_corretora').agg({'% prazo cumprido':np.mean,'volume negociado':sum,'volume_ant':sum})

# geral['% antecipado']= abs((geral['volume_ant']/geral['volume negociado']))*100
# geral

               % prazo cumprido
str_corretora
Agora                 72.919453
Ativa                 70.119631
Bradesco              74.866239
Concordia             77.411831
Guide                       NaN
ICAP                  82.423732
Interna               96.032999
Liquidez             100.000000
Mirae                100.000000
Modal                 59.815855
Orama                 68.212657
Plural                74.536485
Safra                 67.285088
Santander             74.176008
Terra                 75.026086
Warren                71.996826
XP                    75.524837