In [1]:
import pandas as pd
import psycopg2
import config
import workdays
import datetime
import psycopg2 as ps
import numpy as np
import pymongo


holidays_br = workdays.load_holidays('BR')
holidays_b3 = workdays.load_holidays('B3')

dt = datetime.date.today()
vcto_0 = dt.strftime('%d/%m/%Y')

dt_pos = workdays.workday(dt, -1, holidays_br)
dt_1 = workdays.workday(dt, -1, holidays_b3)
dt_2 = workdays.workday(dt, -2, holidays_b3)
dt_3 = workdays.workday(dt, -3, holidays_b3)


db_conn_test = psycopg2.connect(host=config.DB_TESTE_HOST, dbname=config.DB_TESTE_NAME , user=config.DB_TESTE_USER, password=config.DB_TESTE_PASS)
# cursor_test = db_conn_test.cursor(cursor_factory=psycopg2.extras.DictCursor)

db_conn_risk = psycopg2.connect(host=config.DB_RISK_HOST, dbname=config.DB_RISK_NAME , user=config.DB_RISK_USER, password=config.DB_RISK_PASS)
# cursor_risk = db_conn_risk.cursor(cursor_factory=psycopg2.extras.DictCursor)


dt

datetime.date(2022, 6, 20)

In [2]:

copom = [
    datetime.datetime.strptime("19-01-2021", "%d-%m-%Y").date(),
    datetime.datetime.strptime("16-03-2021", "%d-%m-%Y").date(),
    datetime.datetime.strptime("4-05-2021", "%d-%m-%Y").date(),
    datetime.datetime.strptime("15-06-2021", "%d-%m-%Y").date(),
    datetime.datetime.strptime("3-08-2021", "%d-%m-%Y").date(),
    datetime.datetime.strptime("21-09-2021", "%d-%m-%Y").date(),
    datetime.datetime.strptime("26-10-2021", "%d-%m-%Y").date(),
    datetime.datetime.strptime("7-12-2021", "%d-%m-%Y").date(),
    datetime.datetime.strptime("1-02-2022", "%d-%m-%Y").date(),
    datetime.datetime.strptime("15-03-2022", "%d-%m-%Y").date(),
    datetime.datetime.strptime("3-05-2022", "%d-%m-%Y").date(),
    datetime.datetime.strptime("14-06-2022", "%d-%m-%Y").date(),
    datetime.datetime.strptime("2-08-2022", "%d-%m-%Y").date(),
    datetime.datetime.strptime("20-09-2022", "%d-%m-%Y").date(),
    datetime.datetime.strptime("25-10-2022", "%d-%m-%Y").date(),
    datetime.datetime.strptime("6-12-2022", "%d-%m-%Y").date(),
]
df_copom=pd.DataFrame(columns=['dates','du'])
df_copom['dates']=copom
df_copom['du']=df_copom.apply(lambda row: workdays.networkdays(dt,row['dates'],holidays_b3),axis=1)

df_copom=df_copom[df_copom['du']>0]

df_copom

         dates   du
12  2022-08-02   31
13  2022-09-20   65
14  2022-10-25   89
15  2022-12-06  117

In [3]:
def find_data(ticker, field):
    conn_mongo = pymongo.MongoClient(
        "mongodb://kapitalo11:kapitalo11@192.168.254.20:27017/?authSource=k11"
    )
    coll = conn_mongo["k11"]["bbgrt"]

    result = coll.find_one({"_id": ticker}, {field: 1})
    try:
        return result[field]
    except Exception:
        return 0

def create_key(row):
    return "BVMF|FUTURE|DI1|" + workdays.workday(
        row["mat"], days=2, holidays=workdays.load_holidays()
    ).strftime("%b%y")

def create_bbg_symbol(ticker, rep, sulf, asst):
    return ticker.replace(asst, rep) + f" {sulf}"

In [4]:

def pre_curve(data):

    db_conn = ps.connect(
        "host='PGKPTL01' dbname='db_Teste' user='k_geral' password='Kapitalo@01'"
    )
    query = """SELECT p.dte_data as data, a.dbl_saquestomaturity as du, p.dbl_ajusteatual as ajuste 
	FROM tbl_ajustes1 p INNER JOIN tbl_ativosbmf a ON p.dte_data=a.dte_data AND
    p.str_codigo=a.str_codigo AND p.str_serie=a.str_codigoserie
    WHERE p.dte_data='"""

    query = query + data.strftime("%Y-%m-%d")
    query = (
        query
        + "' and p.str_codigo='DI1' AND a.str_mercado='Futuro' AND a.str_codigo='DI1' and a.dte_data='"
    )
    query = (
        query
        + data.strftime("%Y-%m-%d")
        + "' ORDER BY p.dte_data, a.dbl_saquestomaturity"
    )

    df = pd.read_sql(query, con=db_conn)
    db_conn.close()
    # cria curva com dados historicos
    df = df.join(df.shift(1).add_suffix("_ant"))
    df.loc[df["data"] != df["data_ant"], "ajuste_ant"] = 100000
    df.loc[df["data"] != df["data_ant"], "du_ant"] = 0
    df = df.drop(["data_ant"], axis=1)
    df["taxa_termo"] = (
        np.power(df.ajuste_ant / df.ajuste, 252 / (df["du"] - df["du_ant"])) - 1
    )
    df["taxa"] = np.power(100000 / df.ajuste, 252 / df["du"]) - 1
    df["du"] = df["du"].astype(int)
    df["du_ant"] = df["du_ant"].astype(int)
    df_curve = pd.DataFrame({"du": range(0, df.du.max() + 1, 1)})
    df_curve = df_curve.merge(df[["du", "taxa_termo"]], on="du", how="left")
    df_curve = df_curve.bfill()
    df_curve["fator"] = np.power(1 + df_curve["taxa_termo"], 1 / 252)
    df_curve.loc[0, "fator"] = 1
    df_curve["fator"] = df_curve["fator"].cumprod()
    df_curve["taxa"] = np.power(df_curve.fator, 252 / df_curve["du"]) - 1
    df_curve = df_curve.iloc[1:]
    df_curve = df_curve.set_index("du", drop=True)
    return df_curve

pre=pre_curve(dt_1)

In [5]:
pre

      taxa_termo     fator      taxa
du
1       0.131519  1.000490  0.131519
2       0.131519  1.000981  0.131519
3       0.131519  1.001472  0.131519
4       0.131519  1.001963  0.131519
5       0.131519  1.002455  0.131519
...          ...       ...       ...
3651    0.127650  5.700416  0.127650
3652    0.127650  5.703134  0.127650
3653    0.127650  5.705853  0.127650
3654    0.127650  5.708574  0.127650
3655    0.127650  5.711296  0.127650

[3655 rows x 3 columns]

In [18]:
### Script Hedge BOX - 3 Pontas
## Exposição BOX

query=f"select * from tbl_carteira1 where dte_data='{dt_1.strftime('%Y-%m-%d')}' and (str_estrategia='Box_3pontas')  and str_mesa='Kapitalo 11.1' and str_mercado='Opcao de Acao'"

df=pd.read_sql(query,db_conn_test)

queryb3= f"SELECT rptdt, tckrsymb as str_serie,tradgenddt as vencimento,exrcpric as strike,optntp FROM b3up2data.equities_optiononequitiesinstrumentfile_ad where rptdt='{dt_1.strftime('%Y-%m-%d')}' "
opt=pd.read_sql(queryb3,db_conn_risk)

df=df.merge(opt,on='str_serie',how='left')


df['dbl_lote_abs']=abs(df['dbl_lote'])
# df.groupby(['str_codigo','strike']).sum().to_clipboard(excel=True, sep=None)
# df.groupby(['strike']).sum()
# df.iloc[0]['vencimento']

# df=df[df['vencimento']==datetime.date(2022, 5, 20)]
df['du']=df['vencimento'].apply(lambda x: workdays.networkdays(dt,x,holidays_b3)+9)
# df=df[df['optntp']=='Put']
# df=df.reset_index()
df['expo']=df['dbl_lote_abs']*df['strike']

df
days=df[['du']].drop_duplicates().iloc[0]['du']

box_expo=df[['expo','vencimento','du']]
box_expo.drop_duplicates()
box_expo=box_expo.groupby('vencimento').agg({'expo':sum,'du':np.mean})
box_expo=box_expo[box_expo['expo']>0]
box_expo
box_expo['vp']=box_expo['expo']/pre.loc[days,'fator']

box_expo


# pre=curva_pre_realtime()

                  expo    du            vp
vencimento
2022-07-15  39830412.0  28.0  3.928724e+07

In [22]:
#### New expo Interest Rate

df['expo']=(df['dbl_lote_abs']*df['strike']*df['du'])/(pre.loc[days,'fator']*252*(1+pre.loc[days,'taxa']))
box_expo=df[['expo','vencimento','du']]

box_expo=box_expo.groupby(['vencimento','du']).agg({'expo':sum}).reset_index()
box_expo

   vencimento  du          expo
0  2022-06-17   8  0.000000e+00
1  2022-07-15  28  3.857797e+06

In [23]:
##Contratos de DI! - HEDGE

query=f"SELECT rptdt, tckrsymb, tradgenddt ,xprtncd FROM b3up2data.interest_rate_futurecontractsinstrumentfile where rptdt='{dt_1.strftime('%Y-%m-%d')}' and tckrsymb like '%DI1%' " 
df=pd.read_sql(query,db_conn_risk)

df['du']=df.apply(lambda row: workdays.networkdays(dt,row['tradgenddt'],holidays_b3),axis=1)

df=df.sort_values('du',ignore_index=True)

display(df)

         rptdt tckrsymb  tradgenddt xprtncd    du
0   2022-06-17   DI1N22  2022-06-30     N22     8
1   2022-06-17   DI1Q22  2022-07-29     Q22    29
2   2022-06-17   DI1U22  2022-08-31     U22    52
3   2022-06-17   DI1V22  2022-09-30     V22    73
4   2022-06-17   DI1X22  2022-10-31     X22    93
5   2022-06-17   DI1Z22  2022-11-30     Z22   113
6   2022-06-17   DI1F23  2022-12-29     F23   134
7   2022-06-17   DI1G23  2023-01-31     G23   156
8   2022-06-17   DI1H23  2023-02-28     H23   174
9   2022-06-17   DI1J23  2023-03-31     J23   197
10  2022-06-17   DI1K23  2023-04-28     K23   215
11  2022-06-17   DI1M23  2023-05-31     M23   237
12  2022-06-17   DI1N23  2023-06-30     N23   258
13  2022-06-17   DI1V23  2023-09-29     V23   322
14  2022-06-17   DI1F24  2023-12-28     F24   382
15  2022-06-17   DI1J24  2024-03-28     J24   443
16  2022-06-17   DI1N24  2024-06-28     N24   506
17  2022-06-17   DI1V24  2024-09-30     V24   572
18  2022-06-17   DI1F25  2024-12-30     F25   634
19  2022-06-17   DI1J25  2025-03-31     J25   695
20  2022-06-17   DI1N25  2025-06-30     N25   756
21  2022-06-17   DI1V25  2025-09-30     V25   822
22  2022-06-17   DI1F26  2025-12-30     F26   885
23  2022-06-17   DI1J26  2026-03-31     J26   946
24  2022-06-17   DI1N26  2026-06-30     N26  1007
25  2022-06-17   DI1V26  2026-09-30     V26  1072
26  2022-06-17   DI1F27  2026-12-30     F27  1133
27  2022-06-17   DI1J27  2027-03-31     J27  1193
28  2022-06-17   DI1F28  2027-12-30     F28  1382
29  2022-06-17   DI1F29  2028-12-28     F29  1630
30  2022-06-17   DI1F30  2029-12-28     F30  1878
31  2022-06-17   DI1F31  2030-12-30     F31  2129
32  2022-06-17   DI1F32  2031-12-30     F32  2380
33  2022-06-17   DI1F33  2032-12-30     F33  2630
34  2022-06-17   DI1F34  2033-12-29     F34  2880
35  2022-06-17   DI1F35  2034-12-28     F35  3128
36  2022-06-17   DI1F36  2035-12-28     F36  3376
37  2022-06-17   DI1F37  2036-12-30     F37  3628

In [24]:
hedge=pd.DataFrame(columns=['contract','vencimento','du','pu','prop'])
for index,row in df.iterrows():
    if row['du']>box_expo.iloc[0]['du']:
        if df.iloc[index-1]['du']<box_expo.iloc[0]['du']:
            hedge=hedge.append({'contract':row['xprtncd'],'vencimento':row['tradgenddt'],'du':row['du']},ignore_index=True)
            hedge=hedge.append({'contract':df.iloc[index-1]['xprtncd'], 'vencimento':df.iloc[index-1]['tradgenddt'],'du':df.iloc[index-1]['du']},ignore_index=True)
            break
        elif df.iloc[index-1]['du']>box_expo.iloc[0]['du']:
            hedge=hedge.append({'contract':row['xprtncd'],'vencimento':row['tradgenddt'],'du':row['du']},ignore_index=True)
            break

In [29]:
interval=hedge['du'].max()+hedge['du'].min()


hedge.loc[0,'prop']=(hedge.iloc[0]['du'])/interval
# hedge.loc[1,'prop']=(hedge.iloc[1]['du'])/interval
hedge

,contract,vencimento,du,pu,prop,ticker_bbg,real tax,interest rate expo,copom,trade
0,U22,2022-08-31,52,97455.541159,0.5,ODU22 Comdty,13.304,17748.599864,True,0.0

In [28]:

# hedge['until venc']=hedge.apply(lambda row: workdays.networkdays(box_expo.loc[0,'vencimento'],row['vencimento'],holidays_b3),axis=1)
hedge["ticker_bbg"] = hedge["contract"].apply(lambda x: 'OD'+str(x[0:3]+' Comdty'))
# hedge.loc[0,'prop']=abs(hedge.iloc[0]['until venc']-hedge.iloc[0]['until venc'])/interval


hedge['real tax']= hedge['ticker_bbg'].apply(lambda x: find_data(x,'price'))
hedge['pu']=hedge.apply(lambda row: (100000/((1+(row['real tax']/100))**((row['du'])/252))),axis=1)

hedge['interest rate expo']= hedge['pu']*hedge['du']/(252*(1+hedge['real tax']/100))
hedge['copom']=hedge['du'].apply(lambda x: True if x> df_copom['du'].min() else False)

hedge['trade']=hedge.apply(lambda row: round(box_expo.iloc[0]['expo']*row['prop']/row['interest rate expo'],0) ,axis=1)


hedge

,contract,vencimento,du,pu,prop,ticker_bbg,real tax,interest rate expo,copom,trade
0,U22,2022-08-31,52,97455.541159,0.5,ODU22 Comdty,13.304,17748.599864,True,0.0

In [89]:
##Contratos de DI! - HEDGE


query=f"select * from tbl_carteira1 where dte_data='{dt_1.strftime('%Y-%m-%d')}' and (str_estrategia='Box_3pontas')  and str_mesa='Kapitalo 11.1' and str_mercado='Futuro'"


df=pd.read_sql(query,db_conn_test)
df

DatabaseError: Execution failed on sql: select * from tbl_carteira1 where dte_data='2022-04-25' and (str_estrategia='Box_3pontas')  and str_mesa='Kapitalo 11.1' and str_mercado='Futuro'
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

unable to rollback

In [25]:
df["ticker_bbg"] = df["str_serie"].apply(lambda x: 'OD'+str(x[0:3]+' Comdty'))

df['real tax']= df['ticker_bbg'].apply(lambda x: find_data(x,'price'))
df['maturity']=df['ticker_bbg'].apply(lambda x: find_data(x,'maturity'))
df['du']=df.apply(lambda row: workdays.networkdays(datetime.date.today(),row['maturity'].date()),axis=1)
df['price']=df.apply(lambda row: (100000/((1+(row['real tax']/100))**((row['du'])/252))),axis=1)

In [26]:
cto=expo/(pre.loc[days,'fator'])

cto/df.iloc[0]['price']

NameError: name 'expo' is not defined

In [3]:
query = "select str_serie,dbl_lote,dbl_preco from tbl_carteira1 where str_estrategia='Box_3pontas' and str_mesa='Kapitalo 11.1' and dte_data='2022-06-14' and str_corretora<>'Interna' "

df=pd.read_sql(query,db_conn_test)

df['pxv']=df['dbl_lote']*df['dbl_preco']
df.groupby(['str_serie']).sum().to_clipboard(excel=True, sep=None)

KeyboardInterrupt:

In [8]:
query = "select str_serie,dbl_lote,dbl_preco from tbl_carteira1 where str_estrategia='Box_3pontas' and str_mesa='Kapitalo 11.1' and dte_data='2022-06-14' and str_mercado='Acao'"

df=pd.read_sql(query,db_conn_test)

df['pxv']=df['dbl_lote']*df['dbl_preco']
df.groupby(['str_serie']).sum().to_clipboard(excel=True, sep=None)