In [352]:
import pandas as pd
import psycopg2 as ps
import config
import workdays
import datetime
import requests
import yfinance as yf
from yahoofinancials import YahooFinancials
import pymongo
import numpy as np

import DatastreamDSWS as DSWS


cdi =0.1165
holidays_br = workdays.load_holidays('BR')
holidays_b3 = workdays.load_holidays('B3')
dt = datetime.date.today()
vcto_0 = dt.strftime('%d/%m/%Y')
dt_pos = workdays.workday(dt, -1, holidays_br)
dt_1 = workdays.workday(dt, -1, holidays_b3)
dt_2 = workdays.workday(dt, -2, holidays_b3)
dt_2 = workdays.workday(dt, -2, holidays_b3)
dt_3 = workdays.workday(dt, -3, holidays_b3)
dt = datetime.date.today()
dt_1 = workdays.workday(dt, -1, holidays_b3)
db_conn_test = ps.connect(host=config.DB_TESTE_HOST, dbname=config.DB_TESTE_NAME , user=config.DB_TESTE_USER, password=config.DB_TESTE_PASS)

db_conn_risk = ps.connect(
    host=config.DB_RISK_HOST,
    dbname=config.DB_RISK_NAME,
    user=config.DB_RISK_USER,
    password=config.DB_RISK_PASS,
)

In [179]:

def p_c_brl_fixed():
    """
    Field: [taxa_termo,fator,taxa]
        """
    def find_data(ticker, field):
        conn_mongo = pymongo.MongoClient(
            "mongodb://kapitalo11:kapitalo11@192.168.254.20:27017/?authSource=k11"
        )
        coll = conn_mongo["k11"]["bbgrt"]

        result = coll.find_one({"_id": ticker}, {field: 1})
        try:
            return result[field]
        except Exception:
            return 0

    def create_key(row):
        return "BVMF|FUTURE|DI1|" + workdays.workday(
            row["mat"], days=2, holidays=workdays.load_holidays()
        ).strftime("%b%y")

    def create_bbg_symbol(ticker, rep, sulf, asst):
        return ticker.replace(asst, rep) + f" {sulf}"
    def get_contracts(table, asst, day=None):
        if day is None:
            day = workdays.workday(datetime.date.today(), -1, workdays.load_holidays("B3"))
        conn = ps.connect(
            "host='PGKPTL01' dbname='Risk_DB' user='kapitalo11' password='kapitalo11'"
        )
        query = f"SELECT tckrsymb as symbol, xprtndt as mat FROM b3up2data.{table} where rptdt='{day}' and asst='{asst}'"
        df = pd.read_sql(query, con=conn)
        conn.close()
        return df
    df_contract = pd.DataFrame()
    df_contract = df_contract.append(
        [
            ["F", "Jan"],
            ["G", "Feb"],
            ["H", "Mar"],
            ["J", "Apr"],
            ["K", "May"],
            ["M", "Jun"],
            ["N", "Jul"],
            ["Q", "Aug"],
            ["U", "Sep"],
            ["V", "Oct"],
            ["X", "Nov"],
            ["Z", "Dec"],
        ]
    )
    df_contract.columns = ["code", "contract"]
    query = (
        "SELECT str_codigo as codigo, str_codigoserie as serie, dbl_saquestomaturity as du FROM tbl_ativosbmf where dte_data='"
        + datetime.datetime.today().strftime("%Y-%m-%d")
        + "' and str_codigo='DI1'"
    )
    db_conn = ps.connect(
        "host='PGKPTL01' dbname='db_Teste' user='k_geral' password='Kapitalo@01'"
    )
    df_fut = pd.read_sql(query, con=db_conn)
    db_conn.close()
#     t_selic = selic()
#     next_copom = [d for d in copom if d > date.today()][0]

    df_fut["code"] = df_fut.serie.str.slice(0, 1)
    df_fut = df_fut.merge(df_contract, on="code")
    df_fut["contract"] = df_fut["contract"] + df_fut["serie"].str.slice(1, 3)
    df_fut = df_fut.drop(["code"], axis=1)

    df_fut["key"] = "BVMF|FUTURE|" + df_fut["codigo"] + "|" + df_fut["contract"]
    df_fut = df_fut.drop(["codigo", "contract"], axis=1)
    df_price = get_contracts("interest_rate_futurecontractsinstrumentfile", "DI1")

    df_price["ticker_bbg"] = df_price["symbol"].apply(
        lambda row: create_bbg_symbol(row, "OD", "Comdty", "DI1")
    )
    df_price["key"] = df_price.apply(lambda row: create_key(row), axis=1)
    df_price["last"] = df_price["ticker_bbg"].apply(lambda x: find_data(x, "price"))

    df_fut = df_fut.merge(df_price, on="key").sort_values(by="du")

    df_fut["current_price"] = df_fut["last"]

    df_fut["current_price"] = df_fut["current_price"] / 100
    df_fut["du"] = df_fut["du"] - 1
    df_fut["ajuste"] = 100000 / np.power(
        1 + df_fut["current_price"], df_fut["du"] / 252
    )

    df_fut = df_fut.join(df_fut.shift(1).add_suffix("_ant"))
    df_fut = df_fut.drop(["serie_ant", "current_price_ant"], axis=1)

    df_fut.loc[df_fut.ajuste_ant.isnull(), "ajuste_ant"] = 100000
    df_fut.loc[df_fut.du_ant.isnull(), "du_ant"] = 0

    df_fut["taxa_termo"] = (
        np.power(
            df_fut.ajuste_ant / df_fut.ajuste, 252 / (df_fut["du"] - df_fut["du_ant"])
        )
        - 1
    )
    df_fut["du"] = df_fut["du"].astype(int)
    df_fut["du_ant"] = df_fut["du_ant"].astype(int)

    df_curva_realtime = pd.DataFrame({"du": range(0, df_fut.du.max() + 1, 1)})

    df_curva_realtime = df_curva_realtime.merge(
        df_fut[["du", "taxa_termo"]], on="du", how="left"
    )
    df_curva_realtime = df_curva_realtime.bfill()
    # df_curva_realtime.loc[df_curva_realtime['du'] <= du_until_copom, 'taxa'] = t_selic / 100
    # df_curva_realtime.loc[df_curva_realtime['du'] <= du_until_copom, 'taxa_termo'] = t_selic / 100

    df_curva_realtime["fator"] = np.power(1 + df_curva_realtime["taxa_termo"], 1 / 252)

    df_curva_realtime.loc[0, "fator"] = 1
    df_curva_realtime["fator"] = df_curva_realtime["fator"].cumprod()
    df_curva_realtime["taxa"] = (
        np.power(df_curva_realtime.fator, 252 / df_curva_realtime["du"]) - 1
    )

    df_curva_realtime = df_curva_realtime.iloc[1:]
    df_curva_realtime = df_curva_realtime.set_index("du", drop=True)

    return df_curva_realtime

In [350]:
def pre_curve(data):

    db_conn = ps.connect(
        "host='PGKPTL01' dbname='db_Teste' user='k_geral' password='Kapitalo@01'"
    )
    query = """SELECT p.dte_data as data, a.dbl_saquestomaturity as du, p.dbl_ajusteatual as ajuste 
	FROM tbl_ajustes1 p INNER JOIN tbl_ativosbmf a ON p.dte_data=a.dte_data AND
    p.str_codigo=a.str_codigo AND p.str_serie=a.str_codigoserie
    WHERE p.dte_data='"""

    query = query + data.strftime("%Y-%m-%d")
    query = (
        query
        + "' and p.str_codigo='DI1' AND a.str_mercado='Futuro' AND a.str_codigo='DI1' and a.dte_data='"
    )
    query = (
        query
        + data.strftime("%Y-%m-%d")
        + "' ORDER BY p.dte_data, a.dbl_saquestomaturity"
    )

    df = pd.read_sql(query, con=db_conn)
    db_conn.close()
    # cria curva com dados historicos
    df = df.join(df.shift(1).add_suffix("_ant"))
    df.loc[df["data"] != df["data_ant"], "ajuste_ant"] = 100000
    df.loc[df["data"] != df["data_ant"], "du_ant"] = 0
    df = df.drop(["data_ant"], axis=1)
    df["taxa_termo"] = (
        np.power(df.ajuste_ant / df.ajuste, 252 / (df["du"] - df["du_ant"])) - 1
    )
    df["taxa"] = np.power(100000 / df.ajuste, 252 / df["du"]) - 1
    df["du"] = df["du"].astype(int)
    df["du_ant"] = df["du_ant"].astype(int)
    df_curve = pd.DataFrame({"du": range(0, df.du.max() + 1, 1)})
    df_curve = df_curve.merge(df[["du", "taxa_termo"]], on="du", how="left")
    df_curve = df_curve.bfill()
    df_curve["fator"] = np.power(1 + df_curve["taxa_termo"], 1 / 252)
    df_curve.loc[0, "fator"] = 1
    df_curve["fator"] = df_curve["fator"].cumprod()
    df_curve["taxa"] = np.power(df_curve.fator, 252 / df_curve["du"]) - 1
    df_curve = df_curve.iloc[1:]
    df_curve = df_curve.set_index("du", drop=True)
    return df_curve

curva=pre_curve(dt_1)
display(curva)

      taxa_termo     fator      taxa
du
1       0.116501  1.000437  0.116501
2       0.116501  1.000875  0.116501
3       0.116501  1.001313  0.116501
4       0.116501  1.001751  0.116501
5       0.116501  1.002189  0.116501
...          ...       ...       ...
3711    0.122000  5.447590  0.122000
3712    0.122000  5.450079  0.122000
3713    0.122000  5.452569  0.122000
3714    0.122000  5.455061  0.122000
3715    0.122000  5.457553  0.122000

[3715 rows x 3 columns]

In [275]:
def curve(x,df_curve=curva):
    return df_curve.loc[x,"taxa"]

curva_pre(212)

0.1290169296859871

In [332]:
def calc_trade_px(row):
    return float(row['str_serie'].split('-')[2].replace(',', '.'))

def calc_final_px(row):
    return float(row['str_serie'].split('-')[3].replace(',', '.'))

def du_until_vct(row):
    vct = datetime.datetime.strptime(row['str_serie'].split('-')[1], '%d%m%Y')
    du = workdays.networkdays(dt_1, vct.date(), holidays=holidays_br)
    return du

def calc_vp(vf, t, d, base=252):
    return vf/ ((1 + t) ** (d / base))


query= f"SELECT * from tbl_carteira1 where dte_data='{dt_2.strftime('%Y-%m-%d')}' and str_estrategia like '%Termo%' and str_mesa ='Kapitalo 11.1' and str_mercado='Termo de Acao' "
df_c=pd.read_sql(query,db_conn_test)
df_c
df_c['vencimento']=df_c.apply(lambda row:datetime.datetime.strptime(row['str_serie'][9:17],'%d%m%Y').date(), axis=1)
# df_c['data_neg']=df_c['data_neg_p'].apply(lambda x: workdays.workday(x,-2,holidays_b3).date())

# df['dt_neg_f']=pd.to_datetime(df['dt_neg_f']).apply(lambda x: x.date())


df_c['codigo']=df_c['str_codigo']
df_c['VF']=df_c.apply(lambda x: calc_final_px(x),axis=1)
df_c['du_until_vct'] = df_c.apply(lambda x: du_until_vct(x), axis=1)
df_c['actual_price'] = df_c.apply(lambda x: calc_vp(x['VF'], curva.iloc[x['du_until_vct'] - 1]['taxa'], x['du_until_vct']), axis=1)

In [319]:
query=f"select str_codigo,str_serie,dbl_financeiro,dbl_pufinal,dbl_qtefinal from tbl_gerencialvalorizacao where dte_data='{dt_3.strftime('%Y-%m-%d')}' and str_mercado='Termo de Acao'"
g=pd.read_sql(query,db_conn_test)

g=g.set_index('str_serie')
g

,str_codigo,dbl_financeiro,dbl_pufinal,dbl_qtefinal
str_serie,,,,
"02022022-31052022-15,170728-15,713359",ABEV3T,44554.71,15.363695,2900.0
"02122021-30032022-16,263735-16,783200",ABEV3T,12798933.72,16.724598,765276.0
"04082021-28072022-17,128219-18,407740",ABEV3T,1896804.20,17.644690,107500.0
"14032022-08062022-13,456885-13,831265",ABEV3T,134847.46,13.484746,10000.0
"14032022-25042022-13,342802-13,486746",ABEV3T,53383.78,13.345944,4000.0
...,...,...,...,...
"07022022-04052022-14,586736-14,949500",ABEV3T,113554.30,14.747312,7700.0
"14032022-09052022-13,383413-13,610325",ABEV3T,53629.69,13.407422,4000.0
"21062021-13062022-19,234067-20,442696",ABEV3T,591084.97,19.901851,29700.0
"22072021-15072022-17,173543-18,333180",ABEV3T,104138.84,17.650652,5900.0
"31052021-23052022-17,384385-18,389376",ABEV3T,528299.32,18.030694,29300.0

In [353]:
day=dt_1
query=f"select * from tbl_boletasrf where dte_data='{day.strftime('%Y-%m-%d')}' and dbl_quantidade<0 and str_mercado='Termo de Acao'"

ant=pd.read_sql(query,db_conn_test)

ant['real_price'] = ant.apply(lambda x: calc_final_px(x),axis=1)

ant['valor_liquidado']=abs(ant['real_price']*ant['dbl_quantidade'])
ant=ant[['str_serie','valor_liquidado']]

ant=ant.set_index('str_serie')
ant

                                       valor_liquidado
str_serie
10032022-09052022-18,792483-19,111400     7.644560e+04
11032022-09052022-19,756366-20,111157     6.033347e+04
18032022-02052022-15,198233-15,440460     3.088092e+04
11022022-28032022-2,149364-2,176166       4.569949e+03
22102021-18042022-29,217154-30,481366     3.048015e+06
09032022-06042022-9,148202-9,226633       1.383995e+05
15032022-11072022-6,636650-6,905989       2.437814e+03
24032022-22042022-24,694729-24,901759     1.924906e+06
09022022-08042022-6,436072-6,565100       7.878120e+03
14032022-28032022-5,974865-5,995760       2.933126e+06
02032022-25042022-54,314230-55,191645     1.103833e+04
28062021-20062022-23,218306-24,770500     1.065131e+05
21022022-04042022-4,020027-4,077769       1.631108e+05
23032022-08042022-3,488672-3,504708       1.057605e+06

In [342]:
def calc_pnl(row):
    
    if row['vencimento']==dt_2:
        return ((row['actual_price']-row['dbl_puanterior'])*row['dbl_loteinit'])
    elif row['dbl_loteinit']!=0:
        return (row['actual_price']*row['dbl_lote']- row['dbl_puanterior']*row['dbl_loteinit']+row['antecipacao'])
    else:
        return ((row['actual_price']-row['dbl_puanterior'])*row['dbl_lote'])

In [343]:
cdi=((1+11.65/100)**(1/252)-1)
cdi=round(cdi,8)
def match_data(serie,codigo,field,df):
    if codigo==None:
        try:
            return df.loc[serie,field]
        except:
            return 0   
        
    else:
        try:
            df=df[df['str_codigo']==codigo]
            return df.loc[serie,field]
        except:
            if field=='dbl_pufinal':
                return float(serie.split('-')[2].replace(',', '.'))
            else:
                return 0

df_c['dbl_puanterior']=df_c.apply(lambda row: match_data(row['str_serie'],row['str_codigo'],'dbl_pufinal',g) ,axis=1)
df_c['financeiro_ant']=df_c.apply(lambda row: match_data(row['str_serie'],row['str_codigo'],'dbl_financeiro',g),axis=1)
df_c['dbl_loteinit']=df_c.apply(lambda row: match_data(row['str_serie'],row['str_codigo'],'dbl_qtefinal',g),axis=1)


df_c['antecipacao']=df_c.apply(lambda row: match_data(row['str_serie'],None,'valor_liquidado',ant) if (row['dbl_loteinit']!=row['dbl_lote']) else 0 ,axis=1)

df_c['pnl']=df_c.apply(lambda row: calc_pnl(row),axis=1)
df_c['over cdi']= df_c['pnl']-df_c['financeiro_ant']*cdi
df_c.to_excel('Gerenga_termos.xlsx')

In [ ]:
def get_antecipacoes():
    conn = psycopg2.connect(
        host=acesso.DB_TESTE_HOST,
        dbname=acesso.DB_TESTE_NAME,
        user=acesso.DB_TESTE_USER,
        password=acesso.DB_TESTE_PASS,
    )
    query=f"select * from tbl_boletasrf where dte_data='{self.data.strftime('%Y-%m-%d')}' and dbl_quantidade<0 and str_mercado='Termo de Acao'"
    ant=pd.read_sql(query,conn)
    ant['real_price'] = ant.apply(lambda x: Gerencial.calc_final_px(x),axis=1)
    ant['valor_liquidado']=abs(ant['real_price']*ant['dbl_quantidade'])
    ant=ant[['str_serie','valor_liquidado']]

    return (ant.set_index('str_serie'))