In [23]:

import pandas as pd
import psycopg2
import config
import workdays
import datetime
import requests


holidays_br = workdays.load_holidays('BR')
holidays_b3 = workdays.load_holidays('B3')
dt = datetime.date.today()
vcto_0 = dt.strftime('%d/%m/%Y')
dt_pos = workdays.workday(dt, -1, holidays_br)
dt_1 = workdays.workday(dt, -1, holidays_b3)
dt_2 = workdays.workday(dt, -2, holidays_b3)




def get_carteira(dt=dt_1):
    db_conn_test = psycopg2.connect(host=config.DB_TESTE_HOST, dbname=config.DB_TESTE_NAME , user=config.DB_TESTE_USER, password=config.DB_TESTE_PASS)    
    query=f"SELECT dte_data, str_mercado, str_codigo, str_serie, dbl_lote, str_estrategia \
            FROM public.tbl_carteira1 where dte_data='{dt}' and str_estrategia like'%CashCarry%'  and str_fundo='KAPITALO KAPPA MASTER FIM' and str_mesa='Kapitalo 11.1'"

    df =pd.read_sql(query,db_conn_test)
    db_conn_test.close()
    return df

def consulta_ibov():
    r = requests.get('https://sistemaswebb3-listados.b3.com.br/indexProxy/indexCall/GetPortfolioDay/eyJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MSwicGFnZVNpemUiOjEyMCwiaW5kZXgiOiJJQk9WIiwic2VnbWVudCI6IjIifQ==', verify=False)
    ibov = pd.DataFrame(r.json()['results'])
    ibov['part']=ibov['part'].str.replace(',', '.').astype(float)
    #reductor = float(r.json()['header']['reductor'].replace('.', '').replace(',', '.'))

    ibov['theoricalQty'] = ibov['theoricalQty'].apply(lambda x: x.replace('.', '').replace(',', '.')).astype(float)
    ibov['cod']= ibov['cod'].astype(str)
    
    ibov.loc[0,'reductor']= float(r.json()['header']['reductor'].replace('.', '').replace(',', '.'))

    
    return ibov


df=get_carteira(dt_1)
pos_futuro= df[df['str_mercado']=='Futuro']

pos_futuro = pos_futuro[pos_futuro['str_serie']=="V22"]

pos_carteira=df[df['str_mercado']=='Acao']
num_contratos=-pos_futuro.iloc[0]['dbl_lote']

display(pos_futuro)

pos_futuro['dbl_lote']=pos_futuro.apply(lambda row: row['dbl_lote']/5 if row['str_codigo']=='WIN' else row['dbl_lote'],axis=1)
pos_futuro['str_codigo']='IND'
    

pos_futuro=pos_futuro.groupby(["str_estrategia",'str_codigo'],as_index=False).agg({'dbl_lote':sum})
pos_futuro

      dte_data str_mercado str_codigo str_serie  dbl_lote str_estrategia
92  2022-08-25      Futuro        IND       V22     518.0      CashCarry
93  2022-08-25      Futuro        WIN       V22    1932.0      CashCarry
96  2022-08-25      Futuro        IND       V22   -1360.0     CashCarry5
97  2022-08-25      Futuro        WIN       V22   -3964.0     CashCarry5

  str_estrategia str_codigo  dbl_lote
0      CashCarry        IND     904.4
1     CashCarry5        IND   -2152.8

In [24]:
dt = datetime.date.today()
r = requests.get('https://sistemaswebb3-listados.b3.com.br/indexProxy/indexCall/GetPortfolioDay/eyJsYW5ndWFnZSI6InB0LWJyIiwicGFnZU51bWJlciI6MSwicGFnZVNpemUiOjEyMCwiaW5kZXgiOiJJQk9WIiwic2VnbWVudCI6IjIifQ==', verify=False)
ibov = pd.DataFrame(r.json()['results']).drop(columns=['segment','partAcum'])
ibov['part']=ibov['part'].str.replace(',', '.').astype(float)
#reductor = float(r.json()['header']['reductor'].replace('.', '').replace(',', '.'))

ibov['theoricalQty'] = ibov['theoricalQty'].apply(lambda x: x.replace('.', '').replace(',', '.')).astype(float)
ibov['cod']= ibov['cod'].astype(str)

ibov.loc[0,'reductor']= float(r.json()['header']['reductor'].replace('.', '').replace(',', '.'))

# ibov.to_excel(f"G:\Trading\K11\CashCarry\Carteira Ibovespa\\Carteira_IBOV_{dt.strftime('%Y-%m-%d')}.xlsx")

C:\Python37\lib\site-packages\urllib3\connectionpool.py:1050: InsecureRequestWarning: Unverified HTTPS request is being made to host 'sistemaswebb3-listados.b3.com.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

In [25]:
pos_futuro['dbl_lote'].sum()

-1248.4

In [26]:
pos_futuro

  str_estrategia str_codigo  dbl_lote
0      CashCarry        IND     904.4
1     CashCarry5        IND   -2152.8

In [28]:
df=get_carteira()
ibov=consulta_ibov()
num_contratos=pos_futuro.loc[(pos_futuro['str_estrategia']=="CashCarry")].iloc[0]['dbl_lote']
pos_carteira = pos_carteira[pos_carteira['str_estrategia']=='CashCarry']
display(num_contratos)
redutor=ibov['reductor'].tolist()[0]
ibov=ibov[['cod','theoricalQty']]


pos_carteira['cod']=pos_carteira['str_serie'].apply(lambda x: x.replace(' BZ EQUITY',''))

rebal=pd.merge(pos_carteira,ibov, on='cod',how='inner')

rebal['ideal']= rebal.apply(lambda row: -row['theoricalQty']*num_contratos/redutor, axis=1)

rebal['trade']=round((rebal['ideal']-rebal['dbl_lote'])/100,0)*100
rebal=rebal[abs(rebal['trade'])>0]
trade=rebal[['cod','trade']]
# rebal

# trade.to_excel('ajuste_cash.xlsx')
# num_contratos
trade
# trade.to_clipboard(excel=True)

C:\Python37\lib\site-packages\urllib3\connectionpool.py:1050: InsecureRequestWarning: Unverified HTTPS request is being made to host 'sistemaswebb3-listados.b3.com.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

904.4

       cod  trade
6    BBAS3 -100.0
8    BBDC4 -100.0
14   BRFS3 -100.0
16   BRML3 -100.0
17   CASH3 -100.0
18   CCRO3 -100.0
23   CPFE3 -100.0
32   EGIE3 -100.0
42   GGBR4  100.0
43   GOAU4 -100.0
50   ITUB4  100.0
52   JHSF3  100.0
53  KLBN11  100.0
54   LREN3 -100.0
58   MRVE3  100.0
61   PCAR3  100.0
62   PETR3 -100.0
64   PETZ3 -100.0
66   PRIO3 -100.0
84   VALE3  100.0
88   WEGE3 -100.0

In [5]:
pos_bova=df[df['str_mercado']=="Futuro"]

# roll=pos_bova[pos_bova['str_serie']=='M22']
# pos_bova
# roll
pos_bova['dbl_lote_ind']=pos_bova.apply(lambda row: (row['dbl_lote']/5) if (row['str_codigo']=='WIN') else row['dbl_lote'],axis=1)


# roll['dbl_lote_ind']=roll.apply(lambda row: (row['dbl_lote']/5) if (row['str_codigo']=='WIN') else row['dbl_lote'],axis=1)

pos_bova.groupby(['str_codigo','str_serie','str_estrategia']).sum()

# roll=roll['dbl_lote_ind'].sum()
# roll

# pos_bova['dbl_lote_ind'].sum()

# -950 


# 659

C:\Python37\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                     dbl_lote  dbl_lote_ind
str_codigo str_serie str_estrategia
IND        Q22       CashCarry          583.0         583.0
                     CashCarry5        -878.0        -878.0
WIN        Q22       CashCarry         2168.0         433.6
                     CashCarry5       -3409.0        -681.8

In [43]:
pos_bova['dbl_lote_ind'].sum()

-1206.8

In [83]:
pos_bova[pos_bova['str_estrategia']=='CashCarry']['dbl_lote_ind'].sum()

236.60000000000002

In [4]:
## ZETA FIA


    
    
def get_carteira_zeta(dt=dt_1):
    db_conn_test = psycopg2.connect(host=config.DB_TESTE_HOST, dbname=config.DB_TESTE_NAME , user=config.DB_TESTE_USER, password=config.DB_TESTE_PASS)    
    query=f"SELECT dte_data, str_mercado, str_codigo, str_serie, dbl_lote, str_estrategia \
            FROM public.tbl_carteira1 where dte_data='{dt}' and str_estrategia like'%CashCarry%'  and str_fundo='KAPITALO ZETA MASTER FIA' and str_mesa='Kapitalo 11.1'"

    df =pd.read_sql(query,db_conn_test)
    db_conn_test.close()
    
    return df

In [5]:

df=get_carteira_zeta(dt_1)
pos_futuro= df[df['str_mercado']=='Futuro']


pos_carteira=df[df['str_mercado']=='Acao']
num_contratos=-pos_futuro.iloc[0]['dbl_lote']

df
display(pos_carteira)
pos_carteira.to_clipboard(excel=True, sep=None)
# pos_carteira.to_excel('.xlsx')
pos_futuro['dbl_lote']=pos_futuro.apply(lambda row: row['dbl_lote']/5 if row['str_codigo']=='WIN' else row['dbl_lote'],axis=1)
pos_futuro['str_codigo']='IND'
pos_futuro=pos_futuro.groupby(["str_estrategia",'str_codigo'],as_index=False).agg({'dbl_lote':sum})

,dte_data,str_mercado,str_codigo,str_serie,dbl_lote,str_estrategia
0,2022-08-03,Acao,BOVA,BOVA11 BZ EQUITY,502941.0,CashCarry5

C:\Python37\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Python37\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [6]:
df=get_carteira_zeta(dt_1)
ibov=consulta_ibov()
num_contratos_z=pos_futuro[pos_futuro['str_estrategia']=="CashCarry5"].iloc[0]['dbl_lote']

# redutor=ibov['reductor'].tolist()[0]
# ibov=ibov[['cod','theoricalQty']]


# pos_carteira['cod']=pos_carteira['str_serie'].apply(lambda x: x.replace(' BZ EQUITY',''))

# rebal=pd.merge(pos_carteira,ibov, on='cod',how='inner')

# rebal['ideal']= rebal.apply(lambda row: row['theoricalQty']*num_contratos/redutor, axis=1)

# rebal['trade']=round((rebal['ideal']-rebal['dbl_lote'])/100,0)*100
# rebal=rebal[abs(rebal['trade'])>0]
# trade=rebal[['cod','trade']]

# trade

C:\Python37\lib\site-packages\urllib3\connectionpool.py:1050: InsecureRequestWarning: Unverified HTTPS request is being made to host 'sistemaswebb3-listados.b3.com.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

In [7]:
num_contratos_z

-482.4

In [17]:
df

,dte_data,str_mercado,str_codigo,str_serie,dbl_lote,str_estrategia
0,2022-07-18,Acao,BOVA,BOVA11 BZ EQUITY,342941.0,CashCarry5
1,2022-07-18,Futuro,WIN,Q22,-1644.0,CashCarry5

In [ ]:
 query= f"SELECT  * \
            FROM tbl_gerencialajustes where dte_data='{self.dt_1.strftime('%Y-%m-%d')}' and str_mesa ='Kapitalo 11.1' and str_mercado='Futuro' and str_codigo='{name}' and str_fundo='{fundo}' and str_serie='{serie}' "
            db_conn_test = psycopg2.connect(host=acesso.DB_TESTE_HOST, dbname=acesso.DB_TESTE_NAME , user='k_geral', password='Kapitalo@01')
            ga=pd.read_sql(query,db_conn_test)